<h3>Games Index</h3>

{{#each}}
  <p>{{#link-to 'games.show' this}}{{name}}{{/link-to}}</p>
{{/each}}

<p><button type="button" class="btn btn-default" {{action "createGame" this}}>Create A Game</button></p>
