<h2 class="text-center">Game {{name}}</h2>

<h3 class="text-center">Your Score: {{score}}</h3>

<h3>The Movies</h3>
{{#each round in this.rounds}}
	{{movie-round round=round}}
{{/each}}

<p><button type="button" class="btn btn-primary" {{action "submit" this}}>Submit</button></p>
