<div class="row">
	<div class="col-md-6"
		<h4>Movies</h4>
		{{#each this.movies}}
			<div class="media">
				{{#link-to 'movies.show' this classNames="media-left"}}
						<img {{bind-attr src=thumbnail alt=title}}>
				{{/link-to}}
				<div class="media-body">
			    <h4 class="media-heading">{{title}} - {{year}}</h4>
			    	{{synopsis}}
			  </div>
			</div>
		{{/each}}
	</div>
	<div class="col-md-6">
		<h4>Opponents</h4>
	</div>

</div>
