<div class="row text-center">
  {{#link-to 'movies.show' '9' tagName="button" classNames="btn btn-primary" href=false}}Movies{{/link-to}}
  {{#link-to 'games' tagName="button" classNames="btn btn-primary" href=false}}Games{{/link-to}}
  {{#link-to 'players' tagName="button" classNames="btn btn-primary" href=false}}Players{{/link-to}}
</div>
